.left-container-news {
    display: flex;
}

.center-container-news {
    display: flex;
}

.right-container-news {
    display: flex;
}

.image-position {
    position: relative;
}

.data-news {
    align-items: flex-start;
    padding: 4px 10px 5px;
    gap: 10px;
    width: 96px;
    height: 30px;
    background: #018ABE;
    border-radius: 5px;
    position: absolute;
    top: 8px;
    left: 16px;
}

.text-news {
    position: absolute;
    bottom: 8px;
    left: 16px;
}